extends mainlayout
block header
    link(rel='stylesheet' href='/static/css/users.css')
    script.
        $(document).ready(function(){
            let optionsToDel= [];
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();
            
            // Select EDIT send user data
            $(document).on("click", ".edit", function () {
                const currentUser = $(this).data('user');
                $(".modal-body #user-id").val( currentUser.userId );
                $(".modal-body #user-name").val( currentUser.name);
                $(".modal-body #user-surname").val(currentUser.surname);
                $(".modal-body #user-password").val(currentUser.password);
                $(".model-body #user-role").val(currentUser.role);
            });
              $(document).on("click", ".delete", function () {
                const currentUser = $(this).data('user');
                $(".modal-body #user-to-del").val( currentUser.userId );
            });
      
      
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function(){
                if(this.checked){
                    checkbox.each(function(){
                        this.checked = true;                        
                    });
                } else{
                    checkbox.each(function(){
                        this.checked = false;                        
                    });
                } 
            });
            checkbox.click(function(){
                if(!this.checked){
                    $("#selectAll").prop("checked", false);
                }
            });

        });
block content
    div(class="container-fluid")
        div(class="table-wrapper")
            div(class="table-title")
                div(class="row title-div")
                    h2 Administrar 
                        b Médicos
                div(class="row no-gutters buttons-header")
                    a(href="/signup" class="btn btn-success" data-toggle="modal")
                        i(class="material-icons") &#xE147;
                        span  Registrar 
            table(class="table table table-striped table-hover")
                thead
                    tr
                        th="Colegiado"
                        th="Nombre"
                        th="Apellidos"
                        th="Rol"
                        th="Actions"
                tbody
                    if users && users.length > 0
                        each user, index in users
                            tr
                                td=user.userId
                                td=user.name
                                td=user.surname
                                td=user.role
                                td
                                    a(href="#editUserModal" class="edit" data-toggle="modal" data-user=user)
                                        i(class="material-icons"  data-toggle="tooltip" title="Edit") &#xE254;
                                    a(href="#deleteUserModal" class="delete" data-toggle="modal" data-user=user)
                                        i(class="material-icons" data-toggle="tooltip" title="Delete") &#xE872;
    div(id="editUserModal" class="modal fade")
        div(class="modal-dialog")
            div(class="modal-content")
                form(method="POST" action="/users/edit")
                    div(class="modal-header")
                        h4(class="modal-title") Editar Médico
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    div(class="modal-body")
                        div(class='form-group')
                            label Nº Colegiado
                            input(type='text' name='userId' class='form-control input-text' id='user-id'  placeholder='Número de Colegiado')
                        div(class='form-group')
                            label Nombre
                            input(type='text' name='name' class='form-control input-text' id='user-name'  placeholder='Nombre')
                        div(class='form-group')
                            label Apellidos
                            input(type='text' name='surname' class='form-control input-text' id='user-surname'  placeholder='Apellidos')
                        div(class='form-group')
                            label Contraseña
                            input(type='password' name='password' class='form-control input-text' id='user-password' placeholder='Contraseña')
                    div(class="modal-footer")
                        input(type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar")
                        input(type="submit" class="btn btn-success" value="Guardar")
    div(id="deleteUserModal" class="modal fade")
        div( class="modal-dialog")
            div( class="modal-content")
                form(id="deleteForm" method="POST" action="/users/delete")
                    div( class="modal-header")
                        h4(class="modal-title") Borrar Médico
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    div( class="modal-body")
                        p ¿Estás seguro de querer eliminar este medico?
                        p Médico : 
                            input(id="user-to-del" class='form-control input-text' type="text" name="userId" readonly)
                            br
                        p(class="text-warning") 
                            small Esta acción no puede ser revertida.
                    div( class="modal-footer")
                        input(type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar")
                        input(type="submit"   class="btn btn-danger" value="Eliminar")